$font-body: 'proxima_nova', Arial, sans-serif
$font-headers: 'museo_sans', Arial, sans-serif
$background-color-black: #191919
$background-color-gray: #f3f5f6
$title-color-black: #212121
$body-color-black: #4d4d4d
$body-color-gray: #747474
$body-color-fullblack: #000000
$color-blue: #0a8bbb
$color-gray: #747474
$color-light-gray: #d4d5d6
$color-black: #212121
$color-white: #ffffff

.footer
  color: $color-white
  padding: 40px 0
  background-color: $background-color-black
  .logo
    display: block
    font-size: 40px
    color: white
    font-family: $font-headers
    font-weight: 300
    text-align: center
    img
      width: 90px
      height: auto
      display: block
      margin: 0 auto
  .copy-info
    font-family: $font-headers
    font-weight: 300
    text-align: center
    font-size: 16px
    margin-top: 40px
    line-height: 28px
  .heart
  .copyright
    text-align: center
    font-size: 14px
    font-weight: 300
    font-family: $font-headers
    padding-top: 20px
    span
      background: image-url("love-icon.png") center center no-repeat
      width: 14px
      height: 14px
      margin: 0 10px
      display: inline-block
      background-size: contain
